extends ../layout

block content 
  h1 Guides

  button(type="new" value='new')
     a(href="/albums/new") New Guide
  button(type="reset" value="reset") 
      a(href="/albums/home") Home

  table
    thead
      tr
        //- th ID
        th Name
        th Email
        th Date
        th Location
        th Comments
    tbody
      for album in allAlbums
        tr
          //- td= album._id
          td
             a(href="/albums/"+album._id)= album.name
          td= album.email
          td= album.date
          td= album.location
          td= album.comments
            