extends ../layout

block content 
  h1 Guides

  button(type="new" value='new')
     a(href="/albums/new") New Guide
  button(type="new" value='new') 
     a(href="/albums/bookings") Bookings
  button(type="reset" value="reset") 
     a(href="/albums/home") Home


  table
    thead
      tr
        //- th ID
        th Name
        th ID
        th Email
        th Date
        th Location
        th Comments
        th Location 2
        th Comments 2
    tbody
      for album in allAlbums
        tr
          //- td= album._id
          td
             a(href="/albums/"+album._id)= album.name
          td 
             a(href="/albums/"+album._id)= album._id
          td= album.email
          td= album.date
          td= album.location
          td= album.comments
          td= album.locationb
          td= album.commentsb
            