extends ../layout

block content
  h1= theAlbum.name
  h2= theAlbum.email
  h2= theAlbum.date
  h2= theAlbum.location
  h2= theAlbum.comments


  button(type="submit" value="Edit Album")
     a(href="/albums/" + theAlbum._id + '/edit') Edit

  form(action="/albums/"+ theAlbum._id + '/delete', method="post")
    button(type="submit" value="Delete") Delete

  button(type="reset" value="reset") 
      a(href="/albums/") Cancel